<div class="container mt-5">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to our Online Course Store!</h1>
    <p class="lead">
      Explore a variety of courses to enhance your knowledge and skills.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="assets\course.jpg"
          class="card-img-top img-fluid"
          alt="Course Image"
        />
        <div class="card-body">
          <h5 class="card-title">Courses</h5>

          <a href="#" class="btn btn-primary" routerLink="/product"
            >click here: Learn More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
