<div class="container">
  <div class="row container2">
    <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let course of courses">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">{{ course.description }}</p>
          <p class="card-text">
            <strong>Instructor:</strong> {{ course.instructor }}
          </p>
          <p class="card-text">
            <strong>Price:</strong> ${{ course.price.toFixed(2) }}
          </p>
          <button class="btn btn-primary" (click)="viewDetails(course)">
            View Details
          </button>
          <button
            class="btn btn-success"
            (click)="addToCartAndNavigateToCart(course)"
          >
            Add to Cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- view details -->
<div *ngIf="selectedCourse" class="modal-container mt-4">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">{{ selectedCourse.title }} Details</h5>
      <button type="button" class="close" (click)="closeDetails()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h5 class="card-title">{{ selectedCourse.title }}</h5>
      <p class="card-text">{{ selectedCourse.description }}</p>
      <p class="card-text">
        <strong>Instructor:</strong> {{ selectedCourse.instructor }}
      </p>
      <p class="card-text">
        <strong>Duration:</strong> {{ selectedCourse.duration }}
      </p>
      <p class="card-text">
        <strong>Level:</strong> {{ selectedCourse.level }}
      </p>
      <p class="card-text">
        <strong>Price:</strong> ${{ selectedCourse.price.toFixed(2) }}
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" (click)="closeDetails()">
        Close Details
      </button>
    </div>
  </div>
</div>
